<div class="title red title-box">
  <h2>BET SLIP</h2>
</div>
<ul class="tabset">
  <li ng-show="isBetVisible('single')"
      ng-class="{'active': currentTabName === 'single'}" 
      ng-click="changeCurrentTab('single')">
    <a href>Single</a>
  </li>

  <li ng-show="isBetVisible('parlay')"
      ng-class="{'active': currentTabName === 'parlay'}" 
      ng-click="changeCurrentTab('parlay')">
    <a href>Parlay</a>
  </li>

  <li ng-show="isBetVisible('system')"
      ng-class="{'active': currentTabName === 'system'}" 
      ng-click="changeCurrentTab('system')">
    <a href>System</a>
  </li>

  <li ng-show="isBetVisible('multi')"
      ng-class="{'active': currentTabName === 'multi'}" 
      ng-click="changeCurrentTab('multi')">
    <a href>MS</a>
  </li>

  <li ng-show="isBetVisible('tipster')"
      ng-class="{'active': currentTabName === 'tipster'}" 
      ng-click="changeCurrentTab('tipster')">
    <a href>Create pick</a>
  </li>
</ul>

<div id="bet-place" class="content-tab"> </div>
