<form class="stake-form">
  <fieldset>
    <div class="form-box" ng-repeat="selection in selections" ng-init="selection.stake = 0">
      <span>{{selection.event_name}}</span>
      <span>{{selection.market_name}}</span>
      <span class="text"><strong>{{selection.name}}</strong>
        <em><i class="fa"
               ng-class="{'fa-arrow-up green-text': selection.isRisen === 1,
             'fa-arrow-down red-text': selection.isRisen === -1}"></i>
          &nbsp;{{selection.odd | oddView}}</em></span>

      <div class="row">
        <label for="lbl-{{selection.id}}">{{'stake' | translate}}:</label>

        <div class="input-box">
          <span>{{currency()}}</span>
          <input ng-model="selection.stake" ng-disabled="selection.status !== 'ok'" only-number
                 type="text" id="lbl-{{selection.id}}">
        </div>
      </div>
      <div class="close-box"><a class="close" href ng-click="removeSelection(selection)">close</a></div>
    </div>
    <div ng-repeat="accumulator in accumulators track by $index" class="form-box">
      <span>{{accumulator.name | ucfirst}} {{accumulator.count}}</span>
      <span class="text">
        <em>{{accumulator.odd | oddView}}</em></span>
      <div class="row">
        <label for="accumulator-stake">{{'stake' | translate}}:</label>

        <div class="input-box">
          <span>{{currency()}}</span>
          <input ng-model="accumulator.stake" type="text" only-number id="accumulator-stake">
        </div>
      </div>
    </div>
    <div ng-repeat="system in currentSystems track by $index" class="form-box">
      <span>{{system.name | ucfirst}} ({{system.count}} bets)</span>
      <div class="row">
        <label for="system-stake">{{'stake' | translate}}:</label>

        <div class="input-box">
          <span>{{currency()}}</span>
          <input ng-model="system.stake" type="text" only-number id="system-stake">
        </div>
      </div>
    </div>
    <table>
      <tr>
        <td>{{'selection_count' | translate}}:</td>
        <td>{{selections.length}}</td>
      </tr>
      <tr>
        <td>{{'total_stake' | translate}}:</td>
        <td>{{totalStake() | number:2}}</td>
      </tr>
      <tr>
        <td>{{'potential_winnings' | translate}}:</td>
        <td>{{potentialWinnings | number:2}} {{currency()}}</td>
      </tr>
    </table>
    <div class="checkbox">
<span>
<label ng-click="allowAllOddChange = !allowAllOddChange" translate="confirm_all_odd_changes" translate-cloak></label>
  <a ng-init=" allowAllOddChange = false" href class="custom-checkbox"
     ng-class="{'checked': allowAllOddChange}"
     ng-click="allowAllOddChange = !allowAllOddChange"></a>
</span>
    </div>
    <div class="checkbox">
<span>
<label ng-click="allowUpOddChange = !allowUpOddChange" translate="confirm_up_odd_changes" translate-cloak></label>
  <a ng-init="allowUpOddChange = false" href class="custom-checkbox"
     ng-class="{'checked': allowUpOddChange}"
     ng-click="allowUpOddChange = !allowUpOddChange"></a>
</span>
    </div>
    <div class="btn-box">
      <input class="btn-blue" type="reset" value="{{'clear' | translate}}" ng-click="clearSelections()">
      <button class="btn-red" type="button" ng-click="setBet()">{{'place_bet' | translate}}</button>
    </div>
  </fieldset>
</form>
