<ng-include src="'templates/cart/partials/notification.tpl.html'"></ng-include>

<form class="stake-form">
  <fieldset>
    <div class="form-box" ng-repeat="selection in selections" ng-init="selectionIndex = $index">
      <span>{{selection.event_name}}</span>
      <span>{{selection.market_name}}</span>
      <span class="text"><strong>{{selection.name}}</strong>
        <em>
          <i class="fa" ng-class="{'fa-arrow-up green-text': selection.isRisen === 1,
                                   'fa-arrow-down red-text': selection.isRisen === -1}"></i>
          &nbsp;{{selection.odd | oddView}}
        </em>
      </span>
      <div class="close-box">
        <a class="close" href ng-click="removeSelection(selection)">close</a>
      </div>

      <ul class="errors" 
          ng-show="errorService.showErrors(selectionIndex)">
        <li ng-repeat="error in errorService.errors.client[selectionIndex] track by $index">{{ error.message }}</li>
        <li ng-repeat="error in errorService.errors.server[selectionIndex] track by $index">{{ error.message }}</li>
        <li ng-show="errorService.errors.combi[selectionIndex].length > 0">
          <p ng-repeat="error in errorService.errors.combi[selectionIndex] track by $index">{{ error }}</p>
        </li>
      </ul>

    </div>

    <ul class="errors" ng-show="errorService.errors.total.length > 0">
      <li>{{ errorService.errors.total[0].message }}</li>
    </ul>

    <table>
      <tr>
        <td>{{'selection_count' | translate}}:</td>
        <td>{{getOkSelections().length}}</td>
      </tr>
      <tr>
        <td>{{'stake' | translate}}:</td>
        <td>
          <input type="number" min="0" ng-model="totalStake" />
        </td>
      </tr>
      <tr>
        <td>{{'coefficient' | translate}}:</td>
        <td>{{potentialCoefficient | oddView}}</td>
      </tr>
      <tr>
        <td>{{'potential_winnings' | translate}}:</td>
        <td>{{potentialWinnings | number:2}} {{currency()}}</td>
      </tr>
    </table>

    <ng-include src="'templates/cart/partials/buttons.tpl.html'"></ng-include>

  </fieldset>
</form>
