<ng-include src="'templates/cart/partials/notification.tpl.html'"></ng-include>

<form class="stake-form" name="stakeForm" novalidate>
  <fieldset>
    <div class="form-box" 
         ng-repeat="selection in selections track by $index"
         ng-init="selection.stake = 1; selectionIndex = $index">
      <span>{{selection.event_name}}</span>
      <span>{{selection.market_name}}</span>
      <span class="text">
        <strong>{{selection.name}}</strong>
        <em>
          <i class="fa"
             ng-class="{'fa-arrow-up green-text': selection.isRisen === 1,
                        'fa-arrow-down red-text': selection.isRisen === -1}"></i>
          {{selection.odd | oddView}}
        </em>
      </span>

      <ul class="errors" ng-show="errorService.showErrors(selectionIndex)">
        <li ng-repeat="error in errorService.errors.client[selectionIndex] track by $index">{{ error.message }}</li>
        <li ng-repeat="error in errorService.errors.server[selectionIndex] track by $index">{{ error.message }}</li>
      </ul>

      <div class="row">
        <label for="lbl-{{selection.id}}-stake">{{'stake' | translate}}:</label>
        <div class="input-box">
          <span>{{currency()}}</span>
          <input type="number" id="lbl-{{selection.id}}-stake" 
                 ng-model="selection.stake" min="0" ng-trim />
        </div>
      </div>
      <div class="close-box">
        <a class="close" href ng-click="removeSelection(selection)">close</a>
      </div>
    </div>

    <table>
      <tr>
        <td>{{'selection_count' | translate}}:</td>
        <td>{{selections.length}}</td>
      </tr>
      <tr>
        <td>{{'total_stake' | translate}}:</td>
        <td>{{totalStake() | number:2}}</td>
      </tr>
      <tr>
        <td>{{'potential_winnings' | translate}}:</td>
        <td>{{potentialWinnings | number:2}} {{currency()}}</td>
      </tr>
    </table>

    <ng-include src="'templates/cart/partials/buttons.tpl.html'"></ng-include>

  </fieldset>
</form>
