<ng-include src="'templates/cart/partials/notification.tpl.html'"></ng-include>

<form class="stake-form">
  <fieldset>
    <div class="form-box" ng-repeat="selection in selections" ng-init="selection.stake = 0">
      <span>{{ selection.event_name }}</span>
      <span>{{ selection.market_name }}</span>
      <span class="text"><strong>{{ selection.name }}</strong>
        <em><i class="fa"
            ng-class="{'fa-arrow-up green-text': selection.isRisen === 1,
                       'fa-arrow-down red-text': selection.isRisen === -1}"></i>
          &nbsp;{{ selection.odd | oddView }}
        </em>
      </span>

      <ul class="errors" 
          ng-show="selection.clientErrors.length > 0 || 
                   selection.serverErrors.length > 0 ||
                   selection.combinationErrors.length > 0">
        <li ng-repeat="error in selection.clientErrors">{{ error.message }}</li>
        <li ng-repeat="error in selection.serverErrors">{{ error.message }}</li>
        <li ng-show="selection.combinationErrors.length > 0">
          <p ng-repeat="error in selection.combinationErrors track by $index">{{ error }}</p>
        </li>
      </ul>

      <div class="close-box">
        <a class="close" href ng-click="removeSelection(selection)">close</a>
        <label class="banker">
          <input ng-model="selection.isBanker" type="checkbox"
                 ng-change="updateSelectedCombinations()"
                 ng-disabled="!isSelectionCouldBeBanker(selection)">
        </label>
      </div>
    </div>

    <ul class="errors" ng-show="clientErrors.length > 0">
      <li ng-repeat="error in clientErrors">{{ error.message }}</li>
    </ul>

    <table>
      <tr>
        <td>{{'selection_count' | translate}}:</td>
        <td>{{selections.length}}</td>
      </tr>
      <tr>
        <td>{{'stake_per_bet' | translate}}:</td>
        <td>
          <input style="width: 50px" type="number" ng-model="stakePerBet" ng-init="stakePerBet = getMinStake() || 1">
        </td>
      </tr>
      <tr>
        <td>
          <div ng-repeat="(key, value) in selectedCombinations track by $index">
            &nbsp;
            &nbsp;
            <div class="checkbox">
              <span class="odds">
                <label for="key-{{ key }}" style="color: black">
                  {{'system' | translate}} {{key}}/{{notBankerSelectionsCount()}} –
                  ({{combinationsCount(key)}} {{'odds' | translate}})</label>
                <input type="checkbox" id="key-{{ key }}" ng-model="selectedCombinations[key]">
              </span>
            </div>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>{{'total_stake' | translate}}:</td>
        <td>{{stakePerBet * stakeCount() | number:2}} {{currency()}}</td>
      </tr>
      <tr>
        <td>{{'potential_winnings' | translate}}:</td>
        <td>{{potentialWinnings | number:2}} {{currency()}}</td>
      </tr>
    </table>

    <ng-include src="'templates/cart/partials/buttons.tpl.html'"></ng-include>

  </fieldset>
</form>
