<form class="stake-form">
  <fieldset>
    <div class="form-box" ng-repeat="selection in selections" ng-init="selection.stake = 0">
      <span>{{selection.event_name}}</span>
      <span>{{selection.market_name}}</span>
      <span class="text"><strong>{{selection.name}}</strong>
        <em><i class="fa"
               ng-class="{'fa-arrow-up green-text': selection.isRisen === 1,
             'fa-arrow-down red-text': selection.isRisen === -1}"></i>
          &nbsp;{{selection.odd | oddView}}</em></span>

      <div class="row">
        <label for="lbl-{{selection.id}}-text">{{'title'|translate}}:</label>

        <div class="input-box">
          <input ng-model="selection.tipsterTitle" style="width: 150px"
                 type="text" id="lbl-{{selection.id}}-text">
        </div>
      </div>
      <div class="row">
        <label for="lbl-{{selection.id}}-desc">{{'description' | translate}}:</label>

        <div class="input-box">
          <textarea ng-model="selection.tipsterDesc" type="text" id="lbl-{{selection.id}}-desc">
          </textarea>
        </div>
      </div>
      <div class="row">
        <label for="lbl-01">{{'stake' | translate}}:</label>

        <div class="input-box">
          <span>%</span>
          <input ng-model="selection.bankRoll" ng-init="selection.bankRoll = 0"
                 type="text" id="lbl-01" only-number>
        </div>
      </div>
      <div class="close-box"><a class="close" href ng-click="removeSelection(selection)">close</a></div>
    </div>
    <table>
      <tr>
        <td>{{'tips' | translate}}:</td>
        <td>{{selections.length}}</td>
      </tr>
    </table>
    <div class="btn-box">
      <input class="btn-blue" type="reset" value="{{'clear' | translate}}" ng-click="clearSelections()">
      <button class="btn-red" type="button" ng-click="sendTips()">{{'tip' | translate}}</button>
    </div>
  </fieldset>
</form>