<div class="select-form" ng-init="showChildren = true">
  <div class="open-close" ng-class="{'active': showChildren}">
    <div class="opener">
      <a href ng-click="showChildren = !showChildren">
        <span class="category-name">{{category.name}}</span>
      </a>
      <div class="all-select">
        <button class="btn-red view-selections-btn" 
                ng-show="selectedCount > 0"
                ng-click="redirectToCompetitions()">
          {{ 'view_selections' | translate }}
        </button>
        <a ng-class="{'checked': selectedAll}" ng-click="toggleSelectionAll()"
           class="custom-checkbox"></a>
        <label ng-click="toggleSelectionAll()">{{'all' | translate}}</label>
      </div>
    </div>
    <div class="slide">
      <div ng-class="{'box-l': $odd, 'box-r': $even}" ng-repeat="competition in category.competitions">
        <div class="row" ng-class="{'checked': competition.isSelected}">
          <a ng-class="{'checked': competition.isSelected}"
             ng-click="toggleCompetitionSelection(competition)"
             class="custom-checkbox"></a>
          <label ng-click="toggleCompetitionSelection(competition)">{{competition.name}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
