<article id="content">
  <div class="content-block" ng-repeat="sport in sports">
    <div class="title title-box">
      <h2 class="{{ sport.name | lowercase }}">{{ sport.name }}</h2>
    </div>
    <category data="category" ng-repeat="category in sport.categories"></category>
  </div>
</article>
