<article id="content" ng-init="showChildren = {}">
  <div class="content-block">
    <div class="open-close open-close-soccer"
         ng-class="{'active': showChildren[sportName]}"
         ng-repeat="(sportName, eventsGroupedBySport) in events | groupBy: 'sport_name'"
         ng-init="showChildren[sportName] = true">
      <a href class="opener">
        <div class="title title-box"
             ng-click="showChildren[sportName] = !showChildren[sportName]">
          <h2 class="{{sportName | lowercase}}">&nbsp;&nbsp; {{ sportName }}</h2>
          <button class="btn-red" ng-click="goBack()">
            {{'back' | translate}}
          </button>
        </div>
      </a>

      <div class="slide" ng-repeat="(competitionName, eventsGroupedByCompetition) in eventsGroupedBySport | groupBy: 'competition_name'">
        <div class="title-block">
          <h3>{{competitionName}}</h3>
        </div>
        <table class="statistics-table" ng-repeat="(startrDate, groupedEvents) in eventsGroupedByCompetition | groupBy: 'start_date'">
          <tr>
            <th>
              <span>
                <img src="images/ico-05.png" alt="image description" width="21" height="19">
              </span>
            </th>
            <th class="name">{{ startrDate }}</th>
            <th ng-repeat="selection in groupedEvents[0].getTopMarketSelections()">
              <div>{{ selection.pretty_market_subtype_name }}</div>
            </th>
            <th></th>
            <th class="last"></th>
          </tr>
          <tr ng-repeat="event in groupedEvents track by event.id" class="table-row">
            <td>{{ event.start_time }}</td>
            <td class="name">{{event.name}}</td>
            <td ng-repeat="selection in event.getTopMarketSelections()">
              <a href class="box" 
                 ng-if="selection.name"
                 ng-class="{'red' : selection.isSelected}"
                 ng-click="toggleSelection(selection)">
                <i class="fa fa-lock" ng-if="!selection.odd || selection.status !== 'ok'"></i>
                {{selection.odd | oddView}}
              </a>
            </td>
            <td>
              <a ng-click="redirectToEvent(event.id)" class="fr" href>
                <strong class="box gray">
                  {{event.markets_count}}<span class="arrow"></span>
                </strong>
              </a>
            </td>
            <td>
              <a href>
                <img src="images/ico-06.png" title="{{'statistics_will_appear' | translate}}" width="24" height="23">
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</article>
