<article id="content">
  <div class="content-block">
    <div class="match-info-wrap">
      <button class="btn-red event-back-btn" ng-if="showBackBtn()" ng-click="goBack()">{{'back' | translate}}</button>
      <div class="breadcrumbs">
        <a>Home</a> / 
        <span href once-text="event.sport_name"></span> / 
        <span ng-if="event.category_name">
          <span href once-text="event.category_name"></span> /
        </span>
        <span once-text="event.competition_name"></span>
      </div>
      <div class="match-info">
        <div class="box-l">
          <h3><a href>{{event.competitors[0].name | uppercase}}</a></h3>
        </div>
        <div class="box-c">
          <strong class="score" ng-if="isLive">{{event.score}}</strong>
          <span>
            <span class="text-live" ng-if="isLive">live</span>
            started at:
            {{event.start_time | timeZone | date:'dd.MM.yyyy HH:mm:ss'}}
          </span>
        </div>
        <div class="box-r">
          <h3><a href>{{event.competitors[1].name | uppercase}}</a></h3>
        </div>
      </div>
      <div class="match-statistics" ng-if="false">
        <div class="stat-box-l">
          <div ng-if="false">
            <div class="row-stat-title">
              <div>1</div>
              <div>2</div>
              <div>3</div>
              <div>4</div>
            </div>
            <div class="row-stat-val">
              <div>6</div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="row-stat-val">
              <div>4</div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="stat-box-c">
          <div class="competitors">
            <a href>{{event.competitors[0].name}}</a>
          </div>
          <div class="vs">VS</div>
          <div class="competitors">
            <a href>{{event.competitors[1].name}}</a>
          </div>
        </div>
        <div class="stat-box-r">
          <div ng-if="false">
            <div class="row-stat-title">
              <div>sets</div>
              <div>games</div>
              <div>points</div>
            </div>
            <div class="row-stat-val">
              <div>1</div>
              <div class="double">
                <div></div>
                <div>3</div>
              </div>
              <div class="double">
                <div></div>
                <div>0</div>
              </div>
            </div>
            <div class="row-stat-val">
              <div>0</div>
              <div class="double">
                <div></div>
                <div>3</div>
              </div>
              <div class="double">
                <div></div>
                <div>0</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <markets event="event"></markets>
  </div>
</article>
