<div class="content-block">
  <div class="title title-box">
    <h2>{{'live_now' | translate | uppercase }}</h2>
    <a href ng-click="redirectToLive()" class="link-more">{{'more' | translate | uppercase}}</a>
  </div>
  <table class="info-table">
    <tr ng-class="{'table-row': $odd}" ng-repeat="event in events track by event.id">
      <td>
        <div class="text-box">
          <b once-text="event.category_name + ' - '" ng-if="event.category_name"></b>
          <b once-text="event.competition_name"></b>
          <span class="date" ng-if="eventTime(event)" once-text="' - ' + eventTime(event)"></span>
        </div>
        <div class="text-box">
          <em ng-click="redirectToEvent(event.id)">
            <a href>{{event.name}}</a>
          </em>
        </div>
        <div class="live-score">{{event.score}}</div>
      </td>
      <td>
        <table class="rate-table">
          <tr>
            <td ng-repeat="selection in event.getTopMarketSelections()">
              <span>{{selection.pretty_market_subtype_name}}</span>
            </td>
            <td ng-if="event.getTopMarketSelections().length < maxSelections" 
                colspan="{{ maxSelections - event.getTopMarketSelections().length }}">
              <div class="empty-cell">&nbsp;</div>
            </td>
          </tr>
          <tr>
            <td ng-repeat="selection in event.getTopMarketSelections()">
              <a href class="box" 
                 ng-if="selection.name"
                 ng-class="{'gray': isSuspended(event, selection)}"
                 ng-click="redirectToLiveEvent(event.id)">
                <i class="fa fa-lock" 
                   ng-if="isSuspended(event, selection) || !selection.odd"></i>
                {{selection.odd | oddView}}
              </a>
            </td>
          </tr>
        </table>
      </td>
      <td class="valign" ng-click="redirectToEvent(event.id)" once-text="event.markets_count"></td>
      <td class="valign" ng-click="redirectToEvent(event.id)"><a class="link-select"></a></td>
      <td><a href="#" class="ico-statistic"></a></td>
    </tr>
  </table>
</div>
