<div class="open-close" ng-cloak
     ng-init="btnMargin = 7;"
     ng-repeat="market in markets track by market.id"
     ng-class="{'disable': market.status !== 'open', 
                'active': market.isShow}">
  <div>
    <a href class="opener" ng-click="market.isShow = !market.isShow">
      {{ market.name }}
      <span class="btn-event" ng-if="market.status !== 'open'"
            translate="market_suspended" translate-cloak>
      </span>
      <span class="selections-count" ng-if="!(market.isShow || (market.status !== 'open'))">
        ({{ market.selections.length }})
      </span>
    </a>

    <div class="slide" ng-if="market.isShow"
         ng-init="sortSelections(market);
                  columnCount = market.columnCount;
                  spaceSize = (501 - btnMargin * columnCount)/columnCount">
      <div ng-repeat="selection in market.selections track by $index">
        <button style="width: {{spaceSize}}px" class="btn" 
                ng-if="selection.id"
                ng-disabled="selection.status !== 'ok' || market.status !== 'open'"
                ng-class="{'selection-selected': selection.isSelected,
                           'disable': selection.status !== 'ok' || market.status !== 'open'}"
                ng-click="toggleSelection(selection)">
          {{ selection.name }}
          <span ng-if="selection.status === 'ok' && market.status === 'open'">
            {{ selection.line }}
          </span>
          <span ng-class="{'bottom': selection.isRisen === -1, 
                           'up':     selection.isRisen === 1}">
            {{ selection.odd | oddView }}
          </span>
        </button>
        <div ng-if="!selection.id" class="btn empty-selection"
             style="min-width: {{spaceSize}}px"></div>
      </div>
    </div>
  </div>
</div>
