<div class="content-block">
  <div class="title">
    <h2 translate="upcoming_events" translate-cloak></h2>
  </div>
  <table class="events-table">
    <tr ng-class="{'table-row': $odd}" ng-repeat="event in upcomingEvents track by $index">
      <td class="et-icons"><i class="sport-icons {{ sportIconClass(event.sport_name) }} "></i></td>
      <td class="event-name text-align-left">
        <div class="event-meta-info">
          <span ng-bind="event.category_name + '. '" ng-if="event.category_name"></span> 
          <span ng-bind="event.competition_name"></span>
        </div>
        <a href ng-click="redirectToEvent(event.id)" ng-bind="event.name"></a>
      </td>
      <td style="min-width: 125px"><span class="date"> {{ event.start_date }} - {{ event.start_time }}</span></td>
    </tr>
  </table>
</div>
