<div class="checkbox">
  <span>
    <label ng-click="allowAllOddChange = !allowAllOddChange" translate="confirm_all_odd_changes" translate-cloak></label>
    <a ng-init=" allowAllOddChange = false" href class="custom-checkbox"
       ng-class="{'checked': allowAllOddChange}"
       ng-click="allowAllOddChange = !allowAllOddChange">
    </a>
  </span>
</div>
<div class="checkbox">
  <span>
    <label ng-click="allowUpOddChange = !allowUpOddChange" translate="confirm_up_odd_changes" translate-cloak></label>
    <a ng-init="allowUpOddChange = false" href class="custom-checkbox"
       ng-class="{'checked': allowUpOddChange}"
       ng-click="allowUpOddChange = !allowUpOddChange">
    </a>
  </span>
</div>

<div class="btn-box">
  <input class="btn-blue" type="reset" value="{{'clear' | translate}}" ng-click="!disableCart && clearSelections()">
  <button class="btn-red" type="button" ng-click="!disableCart && setBet()">{{'place_bet' | translate}}</button>
</div>
