<div class="notifications" ng-show="notification.message">
  <a href ng-class="{'red-text':   notification.status == 'error', 
                     'green-text': notification.status == 'ok'}"
          ng-click="notification = {}">
    {{notification.message}}
  </a>
</div>
