<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>SportZ Trading</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body ng-app="btsFrontWidgetApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<noscript>You need to turn on JavaScript!</noscript>

<div id="wrapper" ng-controller="MainCtrl">
  <div id="main">
    <div class="twocolumns">
      <article id="content">

        <div class="content-block">
          <div id="banner1">
            <script type='text/javascript'><!--//<![CDATA[
            var isThereAccessToken = function () {
              return window.location.href.indexOf('access_token') !== -1;
            };
            if (isThereAccessToken()) {
              var bannerFile = 'bet_now.png';
              var bannerId = '9';
            } else {
              var bannerFile = 'sign_up.png';
              var bannerId = '11';
            }
            var banner1 = "<a href='https://google.com' target='_blank'><img src='images/" + bannerFile + "' border='0' alt='' /></a>";
            document.getElementById('banner1').innerHTML = banner1;
            //]]>--></script>
          </div>
        </div>

        <ng-view></ng-view>

      </article>
      <aside id="sidebar">

        <live    ng-if="isLive"> </live>
        <prelive ng-if="!isLive"></prelive>

        <hot-competitions></hot-competitions>
      </aside>
    </div>

    <aside class="aside">
      <div class="content-block">

        <cart></cart>

        <div class="content-block" id="banner2">
          <a href='https://google.com' target='_blank'><img src='images/bonus.jpg' border='0' alt='' /></a>
        </div>
      </div>
    </aside>
  </div>
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/underscore.string/lib/underscore.string.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-once/once.js"></script>
<script src="bower_components/quick-ngrepeat/quick-ng-repeat.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/routes.js"></script>
<script src="scripts/controllers/main.js"></script>

<script src="scripts/directives/cart/cart.js"></script>
<script src="scripts/directives/cart/multi.js"></script>
<script src="scripts/directives/cart/notification.js"></script>
<script src="scripts/directives/cart/parlay.js"></script>
<script src="scripts/directives/cart/single.js"></script>
<script src="scripts/directives/cart/system.js"></script>
<script src="scripts/directives/cart/tipster.js"></script>
<script src="scripts/directives/helpers/currentDate.js"></script>
<script src="scripts/directives/helpers/currentTime.js"></script>
<script src="scripts/directives/helpers/onlyNumber.js"></script>
<script src="scripts/directives/sport/category.js"></script>
<script src="scripts/directives/sport/competition.js"></script>
<script src="scripts/directives/sport/event.js"></script>
<script src="scripts/directives/sport/hotCompetitions.js"></script>
<script src="scripts/directives/sport/live.js"></script>
<script src="scripts/directives/sport/prelive.js"></script>
<script src="scripts/directives/table/categories.js"></script>
<script src="scripts/directives/table/category.js"></script>
<script src="scripts/directives/table/competitions.js"></script>
<script src="scripts/directives/table/event.js"></script>
<script src="scripts/directives/table/liveEvents.js"></script>
<script src="scripts/directives/table/markets.js"></script>
<script src="scripts/directives/table/upcomingEvents.js"></script>

<script src="scripts/filters/oddView.js"></script>
<script src="scripts/filters/partition.js"></script>
<script src="scripts/filters/range.js"></script>
<script src="scripts/filters/timezone.js"></script>

<script src="scripts/resources/competition.js"></script>
<script src="scripts/resources/event.js"></script>
<script src="scripts/resources/selection.js"></script>
<script src="scripts/resources/sport.js"></script>

<script src="scripts/services/api.js"></script>
<script src="scripts/services/betService.js"></script>
<script src="scripts/services/combinations.js"></script>
<script src="scripts/services/currency.js"></script>
<script src="scripts/services/dataFlow.js"></script>
<script src="scripts/services/dataUpdater.js"></script>
<script src="scripts/services/errorService.js"></script>
<script src="scripts/services/marketService.js"></script>
<script src="scripts/services/notificationService.js"></script>
<script src="scripts/services/parameters.js"></script>
<script src="scripts/services/selectionService.js"></script>
<script src="scripts/services/stateService.js"></script>
<script src="scripts/services/storageService.js"></script>
<script src="scripts/services/tipService.js"></script>

<script src="scripts/translations/en.js"></script>
<script src="scripts/translations/ru.js"></script>

<script src="parameters.js"></script>
<!-- endbuild -->
</body>
</html>
