<div>
  <a ng-click="addCategoryToTable(); category.showChildren = !category.showChildren"
     ng-class="{'category-selected': category.isSelected, 'category-not-selected': !category.isSelected}" href>
    <i ng-if="selectCompetitions() !== 'sport'"
      ng-class="{'fa-check-square': category.isSelected, 'fa-square-o': !category.isSelected}" class="fa"></i>
    {{category.name}}</a>
  <ul class="competitions" ng-if="selectCompetitions() === 'sport' && category.showChildren">
    <li class="competition" ng-repeat="comp in category.competitions">
      <sport-competition data="comp" ng-click="addCompetitionToTable(comp)"></sport-competition>
    </li>
  </ul>
</div>