<div>
  <a href ng-class="{'competition-selected': competition.isSelected,
  'competition-not-selected': !competition.isSelected}">
    <i ng-class="{'fa-check-square': competition.isSelected,
    'fa-square-o': !competition.isSelected}" class="fa"></i>
    {{competition.name}}
  </a>
</div>
