<a ng-click="redirectToEvent()" href class="event-title">
  <span class="event-icon"></span>
  <i ng-class="{'fa-check-square': isEventSelected(), 'fa-square-o': !isEventSelected()}" class="fa"></i>
  <span class="event-name">{{event.name}}</span>
</a>
