<div class="content-block" ng-if="!isLive && hotCompetitions.length > 0">
  <div class="title red">
    <h2 translate="sport.hotCompetitions" translate-cloak></h2>
  </div>
  <ul class="leagues-nav">
    <li ng-repeat="competition in hotCompetitions">
      <a href ng-click="setHotCompetition(competition)" once-text="competition.name"></a>
    </li>
  </ul>
</div>
