<div class="content-block">
  <div class="title">
    <h2>
      <span translate="sport.title" translate-cloak></span>
    </h2>
  </div>
  <nav class="nav menu">
    <ul>
      <li>
        <a href ng-click="toggleUpcomingEvents()">
            <i class="menu-icons-billet"></i>
          <i class="sport-icons popular"></i>{{'upcoming_events' | translate | ucfirst}}</a>
      </li>
      <li ng-class="{'selected': sport.showChildren}" class="drop"
          ng-repeat="(sportName, events) in groupedEvents">
        <a href ng-click="sport.showChildren = !sport.showChildren">
          <i class="menu-icons-billet"></i>
          <i class="sport-icons {{sportIconClass(sportName)}}"></i>
          {{sportName}}
        </a>
        <ul ng-if="sport.showChildren">
          <li ng-repeat="event in events">
            <sport-event data="event"></sport-event>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
