<div>
  <div class="content-block">
    <div class="title">
      <h2>
        <span translate="sport.title" translate-cloak></span>
      </h2>
    </div>
    <nav class="nav menu">
      <ul>
        <li ng-class="{'active': sport.isSelected}"
            ng-repeat="sport in sports track by $index">
          <a href ng-click="openSport(sport)">
            <i class="menu-icons-billet"></i>
            <i class="sport-icons {{sportIconClass(sport.name)}}"></i>{{sport.name}}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
