<div ng-if="!isLive">
  <live-events></live-events>
  <upcoming-events></upcoming-events>
</div>
<div ng-if="isLive">
  <upcoming-events ng-if="showUpcomingEvents"></upcoming-events>
  <live-events></live-events>
</div>
